body {
  height: 100vh;

  /*overflow: hidden;*/

  margin: 0;
  border: 0;
  padding: 0;
  user-select: none;
}

.centre-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}